<%- include ("header")  %>
<%- include ("Navbar")  %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
			<%- include ("sidebar")  %>
          
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
          <h1 class="page-header text-primary">PROJECT DETIALS</h1>
          
          <div class="row "> 
          
         
          
          <div class="col-md-12"> 
       

          <div class="table-responsive">
          <table id="example" class="table table-bordered table-striped table-hover table-bordered" style="width:100%">
           <thead> 
            <tr class="text-primary" style="text-align: center;">
             	<th> PROJECTTOPIC </th>
             	<th> PRO GRAM </th>
             	<th>DATE ADDED </th>
             	<th> ADDED BY </th>
             	<th> SUPERVISOR </th>
             	<th> AREA OF USEFULNES </th>
             		<th> AVAI LABILITY </th>
             		<th> ACTION </th>
            
               </tr>
             </thead>
              	<tbody> 
               	<% Data.forEach( item => {   %>



				  
					 
				<tr>   
				 <td>  <%=item.Project_Topic %> </td>
              	  <td>   <%=item.Project_Topic %> </td>
             	    <td>    <%=item.Program %></td>
              	    <td>    <%=item.Added_By %> </td>
              	      <td>    <%=item.supervisor %> </td>
              	      <td>   <%=item.Area_Of_Knowledge %> </td>
              	      <td>   <%=item.Availability %> </td>
<td> <a href="/Project/Edit_Project/<%=item.ID%> "><button class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i> </button> </a> 
             	       <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button></td>
              	      
               	 </tr>	
              
                 <%
				} ) %>
				   
				
           </tbody>
            </table>
          </div>
          
     
          </div>
        </div>
      </div>
    </div>
      


<div class="row">
	<%- include ("footer")  %>
</div>